@model Employee

@{
    ViewData["Title"] = "Index";
}

<!--================ Start Team Area =================-->
<section class="section_gap team_area lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Medicare Popular Departments</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var employee in Model.EmployeeList)
            {
                var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.jpg");
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member">
                        <div class="author">
                            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                        </div>
                        <div class="author_decs">
                            <div class="social_icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <h4>@employee.Name</h4>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>