
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax"></div>
            <div class="container-fluid">
                <div class="banner_content text-center" style="color:white;">

                    <h3>About Us</h3>
                    <p style="font-size:17px; font-family: sans-serif; text-align: justify;">  Centre for Kidney Diseases and Urology Hospital is a specialized hospital that deals with both Nephrology and Urology related disorders. It launched it's journey in 2014. Besides treatment of Urology and Nephrology related disorders there is facilities for doing dialysis and renal transplantation for renal failure patients at reasonably cheap price. Chief Transplant Surgeon performs operation without any honorium once in a week. Total expenditure a patient incurs for renal transplant in our hospital is 2, 00,000/- (Operation charge+ Medicine cost +KT ICU charge). It is not only reasonably cheap than any of the corporate hospitals in Bangladesh but also than that of the neighboring countries. We assume that by cutting the cost of transplant expenditure for a patient we are saving 8-10 lac taka. Last year (2015) we performed 57 transplants here at CKDU. We have a success rate of 94% (1st year graft survival rate 94%). Among the 57 transplant patients only 2-3 had graft rejection. Each year more than 100 renal failure patients are dying in our country due to inability of meeting the expenditure of treatment. As a specialized hospital in renal sector we have commitment to the society. Out of that noble work we are inspired to carry out such activity. So far without financial assistance from any sectors we are carrying the great burden all alone by ourselves. If we receive any assistance from any organizations or any one we hope to spread our activities far and beyond. That's why we aspire to get every ones cooperation.</p>
                    <p style="font-size:20px; font-family: sans-serif; text-align: justify;" class="text-left"><strong>Managing Director<br>Best Urologist in Bangladesh<br>Professor Dr. Md. Kamrul Islam</strong></p>
                </div>
            </div>
        </div>
    </section>

<section id="hcomplain" class="">
    <div class="container">
        <div class="row treatment animated wow fadeInDown">
            <div class="center wow animated fadeInDown"><h2 class="headline" data-wow-duration="1000ms" data-wow-delay="600ms">Contact</h2></div>
            <div class="col-md-6">
                <h3 class="text-left"><strong>Center for Kidney Disease &amp; Urology Hospital</strong></h3>
                <p class="text-left">
                    <strong>
                        Shyamoli Kidney Hospital<br>
                        Road No. 3, House No. 32<br>
                        Shyamoli, Dhaka-1207<br>
                    </strong>
                </p>
                <p class="text-left"><strong>Mobile:</strong> <strong>01777685821, 01777685822<br>Telephone: 02-9127306, 02-9127566</strong></p>
            </div>
            <div class="col-md-6 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p>&nbsp;        </p>
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.1684713997934!2d90.36255411420024!3d23.777014393677707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0ba8e8d8d13%3A0xfce24268cbfd906d!2sCenter+For+Kidney+Diseases+And+Urology+Hospital!5e0!3m2!1sen!2s!4v1453367798120" width="550" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </p>
                <p style="text-align:right;"><a href="index.php?page=contact"> <span style="font-size: 20px "><i class="fa fa-arrow-circle-right text-danger"></i> Details</span></a></p>
            </div>
        </div>
    </div>
</section>



